<body style="margin-top:-70px;">
    
    <mat-toolbar>    
    </mat-toolbar>

    <div style="text-align:center; margin-left:-450px; margin-top:30px;">
        <h1 style="color:black">Top Rated Movies</h1>
    </div>

    <div class="col-md-16" style="margin-left:250px; margin-top: 30px;">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
    ></pagination-controls>
    </div>

    <div style="margin-top: -50px;">
    <app-movie-card
    *ngFor="let movie of loadedMovies | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
    };"
    [title]="movie.title"
    [year]="movie.release_date"
    [poster_path]="movie.poster_path"
    [overview]="movie.overview"
    [backdrop_path]="movie.backdrop_path"
    [id]="movie.id">
    </app-movie-card>
    </div>

</body>